.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.collection-image{
  width: 22px;
  height:22px;
  border-radius: 50%;
  background-size: contain;
}

.model-circle-image{
  width: 28px;
  height:28px;
  border-radius: 50%;
  background-size: contain;
}

.image-box{
  display: flex;
}

.nft-img{
  max-width: 18rem;
  max-height: 18rem;
  position: relative;
  object-fit: contain;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
